<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/general.css" />
        <link rel="stylesheet" type="text/css" href="/styles/users.css" />
        <title>Users :: My🙂Face</title>
    </head>

    <body>
        <nav>
            <div class="nav-inner">
                <a href="/" class="brand">My🙂Face</a>

                <a href="/users" class="nav-link">Users</a>

                <div class="nav-align-right">
                    <a th:href="${'/wall/' + model.loggedInUsername}"
                       class="nav-link"
                       th:text="${'🙂 ' + model.loggedInUsername}"></a>
                </div>
            </div>
        </nav>

        <div class="limited-width-container">
            <div class="user-heading">
            <h1>Say Hi to all the My🙂Face users!</h1>
            </div>

            <div class="user-names">
            <p th:each="username: ${model.allUsers}" class="user-link">
                🙂
                <a th:text="${username.getFullName()}" th:href="${'/wall/' + username.getUsername()}"></a>
            </p>
            </div>
        </div>

    </body>
    <footer>
        <pa>This is myFace, not yourFace. Copyright &copy; 2019</pa>
    </footer>
</html>