<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/general.css" />
        <link rel="stylesheet" type="text/css" href="/styles/wall.css" />
        <title th:text="${model.wallOwnerUsername + '&rsquo;s wall :: My🙂Face'}"></title>
    </head>

    <body>
        <nav>
            <div class="nav-inner">
                <a href="/" class="brand">My🙂Face</a>

                <a href="/users" class="nav-link">Users</a>

                <div class="nav-align-right">
                    <a th:href="${'/wall/' + model.loggedInUsername}"
                       class="nav-link"
                       th:text="${'🙂 ' + model.loggedInUsername}"></a>
                </div>
            </div>
        </nav>

        <div class="limited-width-container">
            <h1 class="post-title"><span class="post-title" th:text="${model.wallOwnerFullname}"></span>'s wall</h1>
            <div class="post">
                <h1>Write something on <span th:text="${model.wallOwnerFullname}"></span>'s wall!</h1>

                <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post'}">
                    <input type="text" name="content" />
                    <input class="normal-submit" type="submit" value="Post!" />
                </form>
            </div>
            <div th:each="post: ${model.posts}" class="post">
                <div class="post-buttons">

                    <div style="flex-grow: 1;">
                        <div class="post-sender">
                            <a th:href="${'/wall/' + post.sender}"
                               th:text="${'🙂 ' + post.sender}"></a>
                            says: <span class="reactions-text" th:text="${'👍 ' + post.likesCount}"></span>
                                  <span class="reactions-text" th:text="${'👋 ' + post.waveCount}"></span>
                                  <span class="reactions-text" th:text="${'😟 ' + post.frownCount}"></span>
                        </div>
                    </div>

                    <div style="flex-grow: 2">
                        <form th:if="${post.sender.equals(model.loggedInUsername) || post.recipient.equals(model.loggedInUsername)}"
                              method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/delete/' + post.id}" class="form-delete">

                            <input class="normal-submit" type="submit" value="Delete Post"/>

                        </form>
                    </div>

                </div>
                <div th:text="${post.content}"></div>

                <div class="dropdown" style="flex-grow: 1">
                    <button class="dropbtn">Like</button>
                    <div class="dropdown-content">
                        <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post/' + post.id + '/reaction/like'}">
                            <input th:if="${post.getReaction(model.loggedInUsername, 'like') == -1}" class="react-submit" type="submit" value="👍"/>
                            <input th:unless="${post.getReaction(model.loggedInUsername, 'like') == -1}" class="react-submit" type="submit" value="👎"/>
                        </form>
                        <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post/' + post.id + '/reaction/frown'}">
                            <input th:if="${post.getReaction(model.loggedInUsername, 'frown') == -1}" class="react-submit" type="submit" value="😟"/>
                            <input th:unless="${post.getReaction(model.loggedInUsername, 'frown') == -1}" class="react-submit" type="submit" value="😶"/>
                        </form>
                        <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post/' + post.id + '/reaction/wave'}">
                            <input th:if="${post.getReaction(model.loggedInUsername, 'wave') == -1}" class="react-submit" type="submit" value="👋"/>
                            <input th:unless="${post.getReaction(model.loggedInUsername, 'wave') == -1}" class="react-submit" type="submit" value="🖕"/>
                        </form>
                    </div>

                </div>

                <div>


                </div>
            </div>

        </div>

    </body>
    <footer>
        <pa>This is myFace, not yourFace. Copyright &copy; 2019</pa>
    </footer>
</html>