<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" type="text/css" href="/styles/myface.css" />
        <link rel="stylesheet" type="text/css" href="/styles/wall.css" />
        <title th:text="${model.wallOwnerUsername + '&rsquo;s wall :: My🙂Face'}"></title>
    </head>

    <body>
        <nav>
            <div class="nav-inner">
                <a href="/" class="brand">My🙂Face</a>

                <a href="/users" class="nav-link">Users</a>

                <div class="nav-align-right">
                    <a th:href="${'/wall/' + model.loggedInUsername}"
                       class="nav-link"
                       th:text="${'🙂 ' + model.loggedInUsername}"></a>
                </div>
            </div>
        </nav>

        <div class="limited-width-container">
            <h1><span th:text="${model.wallOwnerFullname}"></span>'s wall</h1>

            <div th:each="post: ${model.posts}" class="post">
                <div class="post-sender">
                    <a th:href="${'/wall/' + post.sender}"
                       th:text="${'🙂 ' + post.sender}"></a>
                    says:
                </div>
                <div th:text="${post.content}"></div>

                <div class="dropdown">
                    <button class="dropbtn">Like</button>
                    <div class="dropdown-content">
                        <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post/' + post.id + '/reaction/like'}">
                            <input class="react-submit" type="submit" value="Like"/>
                        </form>
                        <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post/' + post.id + '/reaction/frown'}">
                            <input class="react-submit" type="submit" value="Frown"/>
                        </form>
                        <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post/' + post.id + '/reaction/wave'}">
                            <input class="react-submit" type="submit" value="Wave"/>
                        </form>
                    </div>
                </div>

                <div>
                    <form th:if="${post.sender.equals(model.loggedInUsername) || post.recipient.equals(model.loggedInUsername)}"
                          method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/delete/' + post.id}">
                        <input class="normal-submit" type="submit" value="Delete Post"/>
                    </form>

                </div>
            </div>


            <h1>Write something on <span th:text="${model.wallOwnerFullname}"></span>'s wall!</h1>

            <form method="post" th:action="${'/wall/' + model.wallOwnerUsername + '/post'}">
                <input type="text" name="content" />
                <input class="normal-submit" type="submit" value="Post!" />
            </form>
        </div>

    </body>
</html>