* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    min-height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background-color: steelblue;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.nav-inner {
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav-align-right {
    flex-grow: 1;
    text-align: right;
}


a {
    text-decoration: none;
}

nav a {
    color: #dddddd;
    margin-right: 20px;
}
nav a:hover {
    color: white;
}

.nav-link {
    font-size: 20px;
}

.brand {
    font-size: 24px;
    padding-left: 19.5%;
}

.limited-width-container {
    width: 100%;
    max-width: 60vw;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
}

.button {
    background-color: #4682b4;
    padding: 8px 16px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}
.button:hover {
    background-color: #386699;
}

footer {
    alignment: bottom;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #343a40;
    flex-shrink: 0;
}


