body {
    margin: 0;
    background-image: url("../images/wall-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-link {
    margin-bottom: 15px;
    background-color: #d1d1d1;
    padding: 1% 1% 1% 2%;
    border-radius: 10px;

}

.user-link {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.post-sender a {
    color: #27619e;
}
.post-sender a:hover {
    color: #1e457e;
}

.user-heading {
    color: white;
}


.user-link {
    font-size: 20px;
}

.user-link a {
    font-weight: bold;
    color: #27619e;
}
.user-link a:hover {
    color: #1e457e;
}