body {
     margin: 0;
     background-image: url("../images/wall-background.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

.post {
    margin-bottom: 15px;
    background-color: #d1d1d1;
    padding: 1% 1% 1% 2%;
    border-radius: 10px;

}

.post-content {
    padding-bottom: 10px;
}

.post-sender {
    font-size: 22px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.post-sender a {
    color: #27619e;
}
.post-sender a:hover {
    color: #1e457e;
}

.post-title {
    color: white;
}
.post-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-reactions {
    font-size: 14px;
}

.post-reactions-text {
    padding: 1%;
}

input[type=text] {
    width: 500px;
    border: 1px solid steelblue;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
}

input.normal-submit[type=submit] {
    background-color: #4682b4;
    padding: 8px 16px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
}
input.normal-submit[type=submit]:hover {
    background-color: #386699;
}
input.post-delete[type=submit] {
    background-color: #c5523d;
    padding: 8px 10px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 12px;
}
input.post-delete[type=submit]:hover {
    background-color: #99331e;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    width: 70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #ffffff;
    height: 100%;
    z-index: 1;

    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.dropdown .dropdown-content .react-submit {
    color: black;
    padding: 0 16px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content .react-submit:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: flex;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.form-delete {
    display: inline-block;
    font-size: 14px;

}