body {
     margin: 0;
     background-image: url("../images/wall-background.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

.post {
    margin-bottom: 15px;
    background-color: #d1d1d1;
    padding: 1% 1% 1% 2%;
    border-radius: 10px;

}

.post-content {
    padding-bottom: 10px;
}

.post-sender {
    font-size: 22px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.post-sender a {
    color: #27619e;
}
.post-sender a:hover {
    color: #1e457e;
}

.post-title {
    color: white;
}
.post-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=text] {
    width: 500px;
    border: 1px solid steelblue;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
}

input.normal-submit[type=submit] {
    background-color: #4682b4;
    padding: 8px 16px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
}
input.normal-submit[type=submit]:hover {
    background-color: #386699;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content .react-submit {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .react-submit:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.form-delete {
    display: inline-block;

}